body{
    background-color: #3D087B;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(6,100px);
    gap: 10px;
    width: 1000px;
    margin-left: 150px;
}
.box{
    border-radius: 10px;
}
.colon{
    color: #3D087B;
    font-size: xx-large;
}
#box1{
        margin-top: 20px;   
        background-image: url(./clock_logo@2x.png);
        background-size: cover;
        height: 102px;
        margin-top: 5px;
}

#box3{
    background-color: white;
    grid-column: 3/5;
    margin-top: 10px;
    height: 120px;
}
#box4{
    text-align: center;
    background-color: #725594;
    color: white;
}
#box7{
    color: #8E53F0;
    background-color: white;
    grid-column: 3/5;
    grid-row: 2/3;
    margin-top: 50px;
    height: 100px;
    text-align: center;
}
#box11{
    background-color: white;
    grid-column: 3/5;
    grid-row: 3/6;
    margin-top: 50px;
    height: 350px;
    background-image: url(./night.png);
    background-size: contain;
}
#box5{
    background-color: white;
    grid-column: 1/3;
    grid-row: 2/5;
    margin-top: 10px;
    width: 514px;
}
#box4{
    grid-column: 1/3;
}
#box6{
    color: white;
    height: 66px;
    text-align: center;
    width: 250px;
    background-image: linear-gradient(#6E54EC,#CB52F8,#FC5EFF,#F1A7C5);
    border-radius: 0%;
}
#change:hover{
    content: "Party time!";
}
#box8{
    color: #F25CFE;
    background-color: #725594;
    border-radius: 0%;
}
#one{
    margin-top: 10px;
    margin-left: 10px;
}
select{
    width: 250px;
    height: 40px;
}
.setw{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.setl{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}.setna{
    display: flex;
    gap: 46px;
    justify-content: center;
    align-items: center;
}.setni{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.timebox{
    color: #8A11BF;
    margin: 10px;
    background-color: #F6E2FF;
    width: 100px;
    height: 100px;
}
#Time{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}
#ampm{
    margin: 33px 10px 10px 10px ;
}
#am{
    background-image: linear-gradient(#3418c2,#CB52F8,#FC5EFF,#F1A7C5);
    color: white;
}
